<div class="row">
  <div class="col-xs-12 col-sm-offset-0" style="padding-left: 4%">
    <form #viewTaskForm="ngForm">
      <table class="table-responsive">
        <tr>
          <td>Project:</td>
          <td style="padding-left: 2%; width: 43%;padding-right: 2%;">
            <input type="text" id="projectTitle" class="form-control" [ngModel]="projectDto.projectTitle"
                   #projectTitle="ngModel" readonly name="projectTitle">
          </td>
          <td>
            <button type="submit" class="btn btn-link" (click)="listAllProjects();openModal(projectTemplate)">Search
            </button>
          </td>
          <td style="padding-left: 3%; width: 14%;">Sort Task By:</td>
          <td>
            <button type="button" style=" font-size: 12px; margin-right: 3%; padding-left: 16%; padding-right: 16%;"
                    class="btn btn-primary">Start Date
            </button>
          </td>
          <td style="padding-right: 20px;">&nbsp;</td>
          <td>
            <button type="button" class="btn btn-primary"
                    style=" font-size: 12px; margin-right: 3%; padding-left: 16%; padding-right: 16%;">
              End Date
            </button>
          </td>
          <td style="padding-right: 20px;">&nbsp;</td>
          <td>
            <button type="button" class="btn btn-primary"
                    style=" font-size: 12px; margin-right: 3%; padding-left: 16%; padding-right: 16%;">
              Priority
            </button>
          </td>
          <td style="padding-right: 20px;">&nbsp;</td>
          <td>
            <button type="button" class="btn btn-primary"
                    style=" font-size: 12px; margin-right: 3%; padding-left: 16%; padding-right: 16%;">
              Completed
            </button>
          </td>
        </tr>
      </table>
    </form>
    <hr>
    <ng-container *ngIf="taskDtos && taskDtos.length > 0">
      <table class="table" *ngFor="let task of taskDtos" style="table-layout: fixed;word-wrap: break-word;">
        <thead>
        <tr>
          <th style="width:20%;">Task</th>
          <th style="width:20%;">Parent</th>
          <th>Priority</th>
          <th>Start</th>
          <th>End</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{task.taskName}}</td>
          <td *ngIf="task.parentTaskDto.parentTaskName">
            {{task.parentTaskDto.parentTaskName}}
          </td>
          <td *ngIf="task.parentTaskDto.parentTaskName===null">
            This task has no parent
          </td>
          <td>{{task.priority}}</td>
          <td>{{task.startDate}}</td>
          <td>{{task.endDate}}</td>
          <td>
            <button type="button" class="btn btn-primary" style=" font-size: 12px; margin-right: 3%;
           padding-left: 21%; padding-right: 16%; width: 100%" (click)="onEditTask(task);">Edit
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-primary" style=" font-size: 12px; margin-right: 3%;
           padding-left: 10%; padding-right: 10%; " (click)="updateTaskStatus(task);">End Task
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
  <ng-template #projectTemplate>
    <div class="col-xs-offset-1">
      <table class="table">
        <tr>
          <td></td>
          <td style="padding-top: 3%;">
            <input type="text" class="form-control" [(ngModel)]="projectSearchVal" placeholder="Search..."></td>
          <td style="padding-top: 3%;"></td>
        </tr>
      </table>
      <table class="table">
        <thead>
        <tr>
          <th>Project</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Priority</th>
          <th>Select</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of projectDtos">
          <td>{{project.projectTitle}}</td>
          <td>{{project.startDate}}</td>
          <td>{{project.endDate}}</td>
          <td>{{project.priority}}</td>
          <td style="padding-left: 4%"><input type="radio" name="project" (click)="selectProject(project)"></td>
        </tr>
        </tbody>
      </table>
      <div class="modal-footer">
        <button class="btn btn-sm" (click)="displayTasks();bsModalRef.hide()">Submit</button>
        <button class="btn btn-sm" (click)="bsModalRef.hide()">close</button>
      </div>
    </div>
  </ng-template>
</div>
